body{
    background-color: #2aabd2;
}

.main{
    margin-top: 40px;
    margin-right: 360px;
    margin-left: 360px;
    background-color: white;
    padding-bottom: 50px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
}
.btn-comment{
    float: right;
    margin-bottom: 15px;
}
.img-avartar{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;

}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
}
.jumbotron{
    margin: 50px;
    text-align: center;
}
.comment{
    margin: 15px 0;
}

.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.question-title{
    margin-top: 25px;
}
.sub-comments{
    margin-top: 10px;
    border-radius:5px;
    border: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom:10px;
}
.sub-comments .btn{
    margin-top: 10px;
}